<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecycleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <RecycleApp.Properties.Settings>
            <setting name="ImageCaptureLocation" serializeAs="String">
                <value>C:\Hackday\CaptureRecycleImage</value>
            </setting>
            <setting name="RegionEndpoint" serializeAs="String">
                <value>https://australiaeast.api.cognitive.microsoft.com</value>
            </setting>
            <setting name="TrainingKey" serializeAs="String">
                <value>591691a2ff4d4ba8a4341dcdad99f40c</value>
            </setting>
            <setting name="PredictionKey" serializeAs="String">
                <value>886438d4063d4d5d9468af434f8efaba</value>
            </setting>
            <setting name="PreductionProjectId" serializeAs="String">
                <value>ec74ba50-9f97-4dcc-a201-e1f18171add7</value>
            </setting>
            <setting name="PublishedPredictionName" serializeAs="String">
                <value>Iteration5</value>
            </setting>
            <setting name="LearningUploadLoation" serializeAs="String">
                <value>C:\Hackday\UploadTagImage</value>
            </setting>
        </RecycleApp.Properties.Settings>
    </applicationSettings>
</configuration>